<section>
  <h2>Crie sua própia sala</h2>
  <form action="/create-room" method="POST">
    <label class="sr-only" for="room-pass">Insira uma Senha</label>
    <input type="password" id="room-pass" name="password" placeholder="Insira uma Senha">
    <button class="button" type="submit"><i class="bi-people"></i>Criar Sala</button>
  </form>
</section>