<section>
    <h2>Entre como participante</h2>
    <form action="/enter-room" method="POST">
        <label class="sr-only" for="room-id">C칩digo da sala</label>
        <input type="number" name="roomId" id="room-id" placeholder="C칩digo da sala">
        <button type="submit" class="button"><i class="bi-arrow-bar-right"></i>Entrar na sala</button>
    </form>
</section>

<div class="separator">
    <div></div>
    <div>
        ou
    </div>
    <div></div>
</div>

<section>
    <h2>Crie sua pr칩pria sala de forma f치cil</h2>
    <a href="/create-pass" class="button outlined"><i class="bi-people"></i>Criar
        sala</a>
</section>